$header-side-padding: 15px;

.header__spacer {
  height: $header-height;
}

.header {
  position: fixed;
  height: $header-height;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px $header-side-padding;
  z-index: $header-z;
}

.header__logo {
  line-height: 2.5;
  width: 2.5rem;
  text-align: center;
  font-family: $font-family-bold;
  background: $yellow;
  color: $black;
  vertical-align: middle;
}

.header__link {
  text-align: left;
  line-height: 1.1;
}

.header__hamburger {
  background: transparent;
  position: relative;
  height: 1.5rem;
  width: 2.5rem;

  &:before,
  &:after {
    content: '';
    background-color: $primary;
    backface-visibility: hidden;
    height: 2px;
    left: 0;
    transition: 0.75s;
    width: 2.5rem;
    position: absolute;
  }

  @include media-breakpoint-up(md) {
    display: none;
  }

  .header--hamburger-menu & {
    display: block;
  }
}

@mixin hamburger-menu($extra-class: null) {
  .header--closed#{$extra-class} {
    .header__link-container {
      display: none;
    }

    .header__hamburger {
      &:before {
        box-shadow: $primary 0 calc(0.75rem - 1px) 0 0;
        top: 0;
      }

      &:after {
        top: calc(100% - 2px);
      }
    }
  }

  .header--opened#{$extra-class} {
    width: 100%;
    flex-wrap: wrap;

    .header__link-container {
      position: absolute;
      top: $header-height;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 $header-side-padding;
      animation: fadeInRight 0.5s;
    }

    .header__hamburger {
      &:before {
        box-shadow: transparent 0 0 0 0;
        top: 50%;
        transform: rotate(225deg);
      }

      &:after {
        top: 50%;
        transform: rotate(315deg);
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  @include hamburger-menu;
}

@include hamburger-menu('.header--hamburger-menu');