@import url('https://fonts.googleapis.com/css?family=Nunito:200|Bowlby+One+SC');

$font-family-sans-serif: 
  'Nunito',
  // Basic web fallback
  'Helvetica Neue',
  Arial, sans-serif,
  // Emoji fonts
  'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol' !default;
$font-family-bold: 'Bowlby One SC', cursive;

$link-hover-decoration: none;

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
