@import "./base";

@import "~bootstrap/scss/reboot";
// @import "~bootstrap/scss/type";
// @import "~bootstrap/scss/images";
// @import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";

html {
  font-size: 12px;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 13px;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 14px;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 16px;
  }
}

a:hover {
  text-decoration: none;
}
